@import '../../lib/hotcss/px2rem.scss';
$act-color:#10903d;
$text-color-important:#000;
$text-color:#757575;
$search-bgc:#fafafa;
$danger:#c06;
//设置字体大小
$text-size-biggest:px2rem(48);
$text-size-best: px2rem(36);
$text-size-top: px2rem(28);
$text-size-mid: px2rem(24);
$text-size-bot: px2rem(22);
//设置顶部高度
$top-height:px2rem(120);